<!DOCTYPE html>
<html>
 <head>
   <title>Integrantes Proyecto</title>
   <head>

<body>

<h1>Proyecto: Playbooks</h1>
<h2>Integrantes</h2>
<ul>
       {%for item in integrantes%}
       <li> {{item}} </li>
       {% endfor %}
</ul>  

</body>
</html>

